<form
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit()"
  class="contact-form"
  fxFlex
  fxLayoutGap="20"
  fxLayout="column"
>
  <div class="form-input" fxFlex fxLayout="row">
    <label fxFlex="30" for="name">Name</label>
    <input
      fxFlex
      fxFill
      id="name"
      type="text"
      placeholder="your name"
      formControlName="name"
    />
  </div>
  <div class="form-input" fxFlex fxLayout="row">
    <label fxFlex="30" for="email">Email</label>
    <input
      fxFlex
      fxFill
      name="Email"
      id="email"
      type="email"
      placeholder="your@email.com"
      formControlName="email"
    />
  </div>
  <div class="form-input" fxFlex fxLayout="row">
    <label fxFlex="30" for="message">Message</label>
    <textarea
      fxFlex
      fxFill
      name="Message"
      id="message"
      formControlName="message"
      placeholder="Your message"
    ></textarea>
  </div>

  <button class="submit-button" [disabled]="!contactForm.valid" type="submit">
    Send Message
  </button>
</form>
