.contact-form {
  color: white;
  border: 1px orange;
  margin: 10px;
  width: 100%;
}

.form-input {
  align-items: center;
}

.form-input textarea,
input {
  width: 100%;
  border: 2px solid orange;
  border-radius: 4px;
}

.form-input textarea {
  min-height: 20vh;
}



.form-input textarea:focus,
input:focus {
  border: 5px solid orange;
  outline: none;
}

.form-input label {
  font-size: 1rem;
  font-weight: 400;
}

@supports (font-size-adjust: 1) {
  .form-input label {
    font-size-adjust: 0.8;
  }
}

.submit-button {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  background-color: orange;
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0);

}

.submit-button:hover {
  box-shadow: 0 0 4px black;
  letter-spacing: 0.1rem;
  font-weight: 600;
}


/* Mobile */
@media (max-width: 767px) {
  .contact-form {
    width: 95vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contact-form {
    width: 95vw;

  }
}
