.introduction {
  padding: 0 10%;

  .profile-pic {
    align-self: center;
    justify-content: center;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 20px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.5);
  }
}

@supports (font-size-adjust: 1) {
  section {
    font-size-adjust: 0.8;
  }
}

p {
  line-height: calc(1ex / 0.32);
}

section {
  h3 {
    font-size: 1.75em;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
  }
}

/* Mobile */
@media (max-width: 767px) {
  section {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .profile-pic {
    margin: 1rem;
    height: 20vh;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  section {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .profile-pic {
    height: 30vh;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .profile-pic {
    height: 40vh;
  }
}
