<!-- <div class="backgroundImage"></div>
<div class="card">
  <div class="title">Hello, my name is <b>Marcus</b></div>
  <div class="description">
    I am a <i>software developer</i> based in Florianópolis, Brazil. I have a
    serious passion on developing software that improves people's daily life.
  </div> -->

  <section class="introduction">

    <div class="top">
      <div class="text">
        <h2>Hello!</h2>
        <h3>Welcome to my portfolio!</h3>
        <p>
          My name is <strong>Marcus</strong>,
          and I am thrilled to share with you my journey of blending my expertise in engineering with my newfound love for programming.
        </p>
      </div>

        <img src="/assets/images/profile.jpeg" alt="Profile picture" class="profile-pic">
    </div>

    <div class="enter-button"><a routerLink="/about" routerLinkActive="active">Click here to learn more about me...</a></div>

  </section>


<!-- </div> -->
