<section
  class="introduction"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxFlex
>
  <div class="text" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <h2>
      Hello{{ userName ? " " + userName : "" }}, I'm <strong>Marcus</strong>
    </h2>
    <!-- <span class="sub1"> and... I describe myself as a </span> -->
    <p>
      Nature Lover. Researcher. Developer.

      <!-- I describe myself as a <strong>dynamic and experienced developer</strong> specializing in <i>robust and scalable software development</i>.
      Committed to employing modern practices to deliver high-quality and maintanable code solutions and exceptional user experiences.</p> -->
    </p>
  </div>

  <img
    src="assets/images/profile.jpeg"
    alt="Profile picture"
    class="profile-pic"
  />
</section>
