<!-- <div class="top-bar">
  <div class="div screens">
    <button>
      Welcome
    </button>
    <button>
      Resume
    </button>
  </div>
<div class="div infos">
  <fa-icon [icon]="linkedinIco"></fa-icon>
  <fa-icon [icon]="githubIco"></fa-icon>

   <i class="fa-brands fa-github fa-beat" style="color: #ffffff;"></i>
  <div class="flags">
    <span class="fi fi-br"></span>
    <span class="fi fi-us"></span>
  </div>
</div>
</div> -->
<app-header></app-header>
<router-outlet></router-outlet>
