<div class="top-bar">
  <div>Linkedin</div>
  <div>Github</div>
  <div class="flags">
    <span class="fi fi-br"></span>
    <span class="fi fi-us"></span>
  </div>
</div>
<div class="grid">
  <section class="introduction">

    <div class="text">
      <h2>Hello!</h2>
      <h3>Welcome to my portfolio!</h3>
      <p>
        My name is <strong>Marcus</strong>,
        and I am thrilled to share with you my journey of blending my expertise in engineering with my newfound love for programming.
      </p>
    </div>

      <img src="/assets/images/profile.jpeg" alt="Profile picture" class="profile-pic">
  </section>
  <section class="background">
    <img src="/assets/images/carrying-gas-cylinder.jpg" alt="Profile picture">
    <div class="text">
      <h2>
        This was me in back 2014...
      </h2>

      <p>This picture was taken in the chemical engineering labs at the University of Nevada, campus Reno. It was at this time I knew I wanted to help solve people's problems thorugh inovative solutions</p>

      <p>
        I began my career in chemical engineering, where I spent several years conducting in-depth research and exploring innovative solutions. During this time, I realized the immense potential of automation in streamlining processes
        and optimizing efficiency. It was this realization that sparked my curiosity and set me on a path to dive into the world of programming.
      </p>
    </div>

  </section>

  <section class="passion">
    <div class="text">
    <h2>The newfound passion</h2>
    <p>
      What started as a necessity soon turned into a genuine passion.
       I became captivated by the power of code to solve complex problems and automate repetitive tasks.
       Programming became an integral part of my daily routine as I delved into various languages and frameworks to expand my knowledge and skills.
    </p></div>
  </section>

  <section class="projects">
    <div class="text">
    <h2>Experiences</h2>
    <p>
      Throughout my programming journey, I have had the opportunity to work on a range of exciting projects. From developing software solutions to automate data analysis in chemical processes to creating intuitive user interfaces for real-time monitoring systems, each project has been a testament to my commitment and enthusiasm for programming.
      One notable accomplishment is the <a href="https://github.com/mv-per/pyPTA/">pyPTA</a>.
      This project allowed me to combine my deep understanding of chemical engineering principles with my programming expertise,
      resulting in a successful automation solution that significantly improved efficiency and reduced time costs in simulating multicomponent adsorption.
    </p></div>
  </section>

  <section class="learning">
    <div class="text">
    <h2>I'm still learning...</h2>
    <p>
      In this ever-evolving field, I firmly believe in the importance of continuous learning. I am dedicated to staying up-to-date with the latest programming languages, tools, and methodologies.
      This drive for ongoing growth enables me to adapt to new challenges and provide innovative solutions in an ever-changing technological landscape.
    </p></div>
  </section>

  <section class="Closing">
    <div class="text">
    <h4>
      Thank you for taking the time to explore my portfolio. If you have any questions or would like to discuss potential collaborations or opportunities, please feel free to reach out. I look forward to connecting with you and exploring how my unique blend of chemical engineering expertise and programming skills can make a meaningful impact.
    </h4></div>
  </section>

  <section class="repos">
    <div class="repositories" *ngFor="let repo of repositories">
      <app-github-repository [repository]="repo"></app-github-repository>
    </div>
  </section>

</div>
