<div class="repositoryCard">
  <div class="languageGraph">
    <canvas
      *ngIf="showGraph"
      baseChart
      [data]="data"
      style="width: 100px"
      [type]="doughnutChartType"
    >
    </canvas>
  </div>

  <div class="info">
    <div class="title">
      <a
      href="{{ repository.html_url}}"
      label="'See Repository'"
    >{{ repositoryTitle }}</a>
    </div>
    <div class="description">
      {{ repository?.description }}
    </div>
    <div class="updated">Last update: {{ lastUpdateDate | date }}</div>

  </div>
</div>
