.contact-form {
  // background-color: rgba(255, 179, 66, 0.4);
  color: white;

  border: 1px orange;

  padding: 10px;
}

.form-input {
  align-items: center;
}

.form-input textarea,
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  // box-sizing: border-box;
  font-size: 1.2rem;
  border: 2px solid orange;
  border-radius: 4px;
}

.form-input textarea:focus,
input:focus {
  border: 5px solid orange;
  outline: none;
}

.form-input label {
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

@supports (font-size-adjust: 1) {
  .form-input label {
    font-size-adjust: 0.8;
  }
}

.submit-button {
  // position: relative;
  padding: 16px 0;
  font-size: 1.5rem;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}

.submit-button:hover {
  color: orange;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);
}

// .submit-button::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: var(--color);
//   z-index: -1;
//   transform: scale(0);
//   transition: 0.5s;
// }
