<header fxFlex fxLayout="row" fxLayoutAlign="space-between center">
  <div class="logo">
    <a routerLink="" routerLinkActive="active" (click)="showDropdown = false">
      <span class="short-name">{{ shortLogoText }}</span>
      <span class="longer-name">Marcus Pereira</span>
    </a>
  </div>

  <div
    class="menu-links"
    fxFlex
    fxLayout="row"
    fxLayoutGap="25"
    fxLayoutAlign="flex-end center"
  >
    <ng-container *ngFor="let link of headerLinks">
      <button routerLink="{{ link.route }}" routerLinkActive="active">
        {{ link.name }}
      </button>
    </ng-container>
  </div>

  <button (click)="showDropdown = !showDropdown" class="toggle-button">
    <fa-icon [icon]="showDropdown ? closeIco : barsIco"></fa-icon>
  </button>

  <div
    *ngIf="showDropdown"
    class="dropdown-menu"
    fxFlex
    fxLayout="column"
    fxLayoutAlign="flex-end center"
  >
    <ng-container *ngFor="let link of headerLinks">
      <button
        routerLink="{{ link.route }}"
        (click)="showDropdown = false"
        routerLinkActive="active"
      >
        {{ link.name }}
      </button>
    </ng-container>
  </div>
</header>
