<section fxLayout="column" fxLayoutAlign="center center" fxFlex>
  <div class="content" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <div class="text">
      <h1>A Little about myself</h1>
      <p>
        As you can see, I'm a very hands-on guy... back in 2014, I discovered my
        passion for solving problems through automation during my time in
        scientific research.
      </p>
      <p>
        This led me to explore automation and programming's potential for
        optimizing efficiency. As I delved into programming, it quickly became
        my genuine passion, allowing me to automate tasks and solve complex
        problems.
      </p>
      <p>
        Throughout my journey, I've had the opportunity to work on diverse
        projects that have shaped my expertise. From developing software to
        automate data analysis to creating intuitive user interfaces, each
        experience has further fueled my enthusiasm for programming.
      </p>
      <p>
        Continuous learning is crucial to me, as it keeps me up-to-date with the
        latest languages, tools, and methodologies.
      </p>
      <p>
        I invite you to explore my projects in the
        <a href="/projects"><strong>Projects</strong></a> section to discover my
        abilities and reach out to discuss collaborations or opportunities.
      </p>
      <p class="hover-dim">
        Let's leverage my unique blend of problem solving and programming skills
        to make a meaningful impact together.
      </p>
    </div>
    <img
      src="assets/images/lab.jpeg"
      alt="picture in the lab"
      class="lab-pic"
    />
  </div>
  <button class="back-to-top" (click)="goToTop()" id="goToTop">
    <fa-icon [icon]="upperIcon"></fa-icon>
  </button>
</section>
